.top-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  transition: background-color 0.3s ease;
  z-index: 999;
  .navLogo {
    height: 4rem;
  }
  .navRight {
    display: flex;
    align-items: center;
    gap: 3rem;
    .links {
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 400;
      color: #ddd;
    }
    .active {
      color: #fff;
    }
  }
}
.scrolled {
  background-color: #f00;
}

.layoutContainer {
  max-height: 100vh;
}
.outlet {
  min-height: 100vh;
}
